*{
  margin: 0;
}

body{
  background-image: linear-gradient(50deg, rgb(74, 77, 218), #3695af, #f00);
  /* animation: fondo 1s infinite ease-in-out alternate; */
}

.side-bar{
height: 100vh;
width: 240px;
position: fixed;
display: grid;
justify-content: center;
text-align: left;
grid-template: repeat(3, 1fr) / 1fr;
background-color: #349ed6;
border-right: solid 1px #000;
}

.side-bar-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/Ainz_Ooal_Gown_Bandera.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.lista-navegacion{
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 50px);
  grid-row-gap: 25px;
  overflow: hidden;
  padding: 0;
}
.lista-navegacion li{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
  overflow: hidden;
  will-change: contents;
  font-weight: bold;
  font-size: 1.2em;
}
.lista-navegacion li:hover{
  will-change: contents;
  transition: .09s;
  transform: scale(1.1);
}
.lista-navegacion a{
  height: 100%;
  width: 100%;
  padding-top: 30px;
  color: #fff;
  text-decoration: none;
}

.contacto{
  text-align: center;
  display: grid;
  grid-template: repeat(2, 1fr)/ repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.main{
  max-width: 1086px;
  height: 626px;
  margin-left: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-info{
  width: 800px;
  height: 500px;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "picture body"
                       "tecno body";
  border-radius: 5px;
  border: solid 1px #000;
}

.img-container{
  overflow: hidden;
}
.portrait{
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-top-left-radius: 5px;
}
.header{
  grid-area: picture;
}
.body{
  grid-area: body;
  text-align: center;
  background-color: #000;
  color: #fff;
  display: grid;
  justify-content: center;
  align-items: center;
}
.body-info{
  width: 26em;
  text-align: left;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2em;
  font-weight: bold;
  color: #fff;
}
.body-info a{
  text-decoration: none;
  color: #349ed6;
}

.tech{
  grid-area: tecno;
  display: grid;
  grid-template-rows: 40px 1fr;
  grid-row-gap: 9px;
}
.tech h2{
  align-self: center;
  justify-self: center;
}
.tech ul{
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1.2em;
  grid-row-gap: 1em;
}
.tech li{
  justify-self: center;
  list-style: none;
  font-weight: bold;
  color: #000;
}

.test{
  border-left: solid 1px #000;
}

h1{
  text-align: center;
  font-weight: bold;
  color: #fff;
}

i{
  font-size: 2.5em;
  color: #000;
}

@keyframes fondo{
  0%{
    background-image: linear-gradient(50deg, rgb(74, 77, 218), #3695af, #f00);
  }
  100%{
    background-image: linear-gradient(50deg, rgb(70, 73, 214), #3695af, #f00);
  }
}