*{
  margin: 0;
}
.side-bar{
height: 100vh;
width: 240px;
position: fixed;
display: grid;
justify-content: center;
/* align-items: center; */
text-align: left;
grid-template: repeat(3, 1fr) / 1fr;
background-color: #349ed6;
border-right: solid 1px #000;
}

.side-bar-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/Ainz_Ooal_Gown_Bandera.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.lista-navegacion{
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 50px);
  grid-row-gap: 30px;
  overflow: hidden;
  padding: 0;
}
.lista-navegacion li{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
  overflow: hidden;
  will-change: contents;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.lista-navegacion li:hover{
  will-change: contents;
  transition: .8s;
  transform: scale(1.1);
}
.lista-navegacion a{
  height: 100%;
  width: 100%;
  padding-top: 30px;
  color: #fff;
  text-decoration: none;
}

.contacto{
  text-align: center;
  display: grid;
  grid-template: repeat(2, 1fr)/ repeat(2, 1fr);
  align-items: center;
}

.main{
  /* background-image: url("../img/stormtrooper.jpg"); */
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: center;
  max-width: 1086px;
  height: 626px;
  margin-left: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-info{
  width: 800px;
  height: 500px;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "picture body"
                       "tecno body";
  border-radius: 5px;
  border: solid 1px #000;
}

.img-container{
  overflow: hidden;
}
.portrait{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header{
  grid-area: picture;
}
.body{
  grid-area: body;
  text-align: center;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.body-info{
  width: 26em;
  display: flex;
}
.tech{
  grid-area: tecno;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tech ul{
  padding-left: 0;
}
.tech li{
  padding-top: .5em;
}

.test{
  border-left: solid 1px #000;
}

h1{
  text-align: center;
}

i{
  font-size: 2.5em;
  color: #000;
}